ErrorDocument 404 /errors/404.php

RewriteEngine on

RewriteRule  "^$" "/home/index.php"

RedirectMatch 403 "/include
RedirectMatch 403 "/classes

RedirectMatch 403 "/auth/login/login.*\.php"
RedirectMatch 403 "/auth/register/register.*\.php"
RedirectMatch 403 "/auth/reset/reset.*\.php"
RedirectMatch 403 "/upload/upload.*\.php"