# Global error pages
ErrorDocument 404 /errors/404.php

# serve /home for /
RewriteEngine on
RewriteRule  "^$" "/home/index.php"

# forbid direct access to templates
RedirectMatch 403 "^/include"
RedirectMatch 403 "^/classes"

# forbid direct access to endpoint handlers
RedirectMatch 403 "^/auth/login/login.*\.php"
RedirectMatch 403 "^/auth/logout/logout.*\.php"
RedirectMatch 403 "^/auth/register/register.*\.php"
RedirectMatch 403 "^/auth/reset/reset.*\.php"
RedirectMatch 403 "^/upload/upload.*\.php"