body{
    background: #1e1e1e
}

#text{
    color: white;
    background-color: #1e1e1e
}

a{
    color: white;
}

td,th{
    color: white;
}

button{
    color: #2196F3;
    background-color: transparent;
    border-color: #2196F3;
    border-width: 1px;
}

.center{
    width: fit-content;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom{
    z-index: 100;
    bottom: 0px;
    position: fixed;
}

.og{
    width: 300px;
}

span{
    color:white;
}

.floatRight{
    float: right;
}

.potato{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 12px;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    text-align: -webkit-center;
}

.picsBorder{
    border: 1px #263663 solid;
    width: fit-content;
    border-radius: 5px;
}

.pics{
    margin: 5px 0px;
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.starContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pageButtons{
    text-align: center;
    margin-bottom: 40px;
}

button{
    color: #2196F3;
    background-color: transparent;
    border-color: #2196F3;
    border-width: 1px;
}

.thumbButton{
    grid-area: 1/8/1/8;
    z-index: 10;
    height: 2em;
    width: 2em;
    padding: 0px;
}

.thumbButton.sideView{
    font-size: 0.7em;
    margin-left: -3px;
    margin-top: 2px;
}

.thumbButton.listView{
    font-size: 0.6em;
    margin-left: 0px;
    margin-top: 2px;
}

.thumb{
    grid-column: 1/9;
    grid-row: 1/1;
}