.changeNameInput{
    display: none;
    color: black;
}

.changeNameInput > input{
    width: calc(100% - 75px);
    margin-left: 5px;
}

th{
    text-align: center;
}

.navButtons{
    margin-left: 11%;
    margin-bottom: -0.9em;
}

.listTable{
    width: fit-content;
}

.starContainer{
    position: relative;
    background: darkgreen;
}

.star{
    position: absolute;
    width: 32px;
    align-self: center;
    margin-left: 7px;
    margin-top: -20px;
}

.tempStar{
    background-color: #141617d9;
}

.changeName{
    max-width: 300px;
    overflow-wrap: break-word;
}