.floatLink {
    width: 50%;
    height: 100%;
    position: absolute;
    margin-top: -10px;
    z-index: 1;
    opacity: 0;
}
    
.floatLink#next {
    right: 0;
}

.floatLink#prev {
    left: 0;
}

#picDiv{
    max-height: 90%;
    max-width: 100%;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    top: 52.4%;
}

#centerImage{
    max-height: -webkit-fill-available;
    height: auto;
}

#replaceForm{
    display: none;
}

.replace{
    margin-right: 10px;
}

.replace > a{
    color: #9d9d9d;
    text-decoration: none;
}

.replace > a:hover{
    color: white;
}

.starContainer{
    position: relative;
    background: darkgreen;
}

.star{
    position: absolute;
    width: 32px;
    align-self: center;
    margin-left: 7px;
    margin-top: -40px;
}

.tempStar{
    background-color: #141617d9;
}

.tagContainer{
    background-color: #394c94;
    width: fit-content;
}

.sugg{
    border-top: 1px #333333 solid;
    text-align: left;
    background-color: #3c4043;
}

.ogButton{
    background-color: #181a1b;
    border-width: 3px;
    margin-left: 0;
    font-size: 1em;
}

.deleteTag{
    right: 10px;
    font-size: 1em;
    position: absolute;
    top: auto;
    width: 11px;
}

.darkInput{
    background-color: #181a1b;
    color: white;
    width: 85%;
    margin-right: -1px;
    border-color: #394c94;
    border-style: solid;
}

.slideContainer{
    position: absolute;
    margin-top: -100px;
    margin-left: 48px;
}