.floatLink {
    width: 50%;
    height: 100%;
    position: absolute;
    margin-top: -10px;
    z-index: 1;
    opacity: 0;
}
    
.floatLink#next {
    right: 0;
}

.floatLink#prev {
    left: 0;
}

#picDiv{
    max-height: 90%;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    top: 52.4%;
}

#centerImage{
    max-height: -webkit-fill-available;
    height: auto;
}

#replaceForm{
    display: none;
}

.replace{
    margin-right: 10px;
    margin-top: -13px;
}

.replace > a{
    color: #9d9d9d;
    text-decoration: none;
}

.replace > a:hover{
    color: white;
}

.starContainer{
    position: relative;
    background: darkgreen;
}

.star{
    position: absolute;
    width: 32px;
    align-self: center;
    margin-left: 7px;
    margin-top: -40px;
}

.tempStar{
    background-color: #141617d9;
}